
html {
    background-color: #2F7692;
    color: #34343C;
}

body {
    background-color: #2F7692;
}

h1,
h2,
h3 {
    font-family: 'Eczar', serif;
}

h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 8rem;
    color: #F28900;
    text-shadow: #34343C 3px 3px;
}

#bio,
#skills,
#projects,
#contact,
#social {
    border:#F28900 2px dotted;
    background-color: #FFF9F2;
    padding: 0 2% 2% 2%;
}

#bio h2,
#skills h2,
#projects h2,
#contact h2,
#social h2 {
    margin-top: 3%;
}

section {
    scroll-margin-top: 4.2rem;
}

/* nav */

h2 {
    font-weight: 500;
    font-size: 2.5rem;
    background-color: #FFF9F2;
}

h3 {
    font-weight: 400;
    font-size: 1.75rem;
    padding-bottom: .5rem;
    border-bottom:#F28900 3px dotted;
    height: 4.5rem;
}

nav {
    color: #FFF9F2;
}

nav img {
    height: 40px;
    width: auto;
}

.navbar {
    font-family: 'Eczar', serif;
    background-color: #2F7692;
}

.navbar-brand {
    padding-top: 5px
}

/* jumbotron */

.jumbotron {
    background-image: url(resources/images/diagKeybrd.png);
    height: 30rem;
    background-size: cover;
    background-position: center;
}

#home .col-11 {
    margin: 2rem 5rem;
}

#home h1 {
    margin-top: 10%;
    padding: 0;
}

#home h3 {
    margin: 0;
    padding: 0;
}

#home h1 {
    font-size: 4rem;
}

#home h3 {
    color: #F28900;
    text-shadow: #34343C 1.5px 1.5px;
    font-size: 2rem;
}

@media only screen and (max-width: 576px) {
    .jumbotron {
        height: 20rem;
    }
    #home h1 {
        font-size: 3rem;
        margin-top: 20%;
    }
    #home h3 {
        font-size: 1.5rem;
    }
}


/* bio */

.card {
    background-color: #34343C;
    color: #FFF9F2;
    height: 100%;
    border:#F28900 3px dotted;
}

.card-title {
    padding-bottom: 5px;
    border-bottom: #F28900 3px dotted;
}

/* projects */

.worms,
.books,
.credit {
    border:#2F7692 1px solid;
    padding: 2%;
    height: 30rem;
}

#projects img {
    width: 100%;
    margin: 3% 0;
}

#projects .credit img {
    height: 26%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0;
    padding-bottom: 0;
}

#projects .credit p {
    margin-top: -123%;
    padding-top: 0;
}

#projects a {
    color:#34343C;
}

#projects .weblink {
    color: blue;
}

#projects .col-10 img {
    border: #34343C 1px solid;
}

.worms h3,
.credit h3 {
    padding-top: 2rem;
}


@media only screen and (min-width: 413px) {
    .books h3,
    .credit h3 {
        padding: 2rem 0;
    }
}

@media only screen and (min-width: 760px) {
    .worms h3,
    .books h3,
    .credit h3 {
        height: 6.5rem;
    }
    .worms h3 {
        padding-top: 4rem;
    }
    .books h3 {
        padding: 0;
    }
}


@media only screen and (min-width: 810px) {
    .worms h3,
    .books h3,
    .credit h3 {
        height: 4.5rem;
    }
    .worms h3 {
        padding-top: 2rem;
    }
    .credit h3 {
        padding-top: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .worms h3,
    .books h3,
    .credit h3 {
        height: 4.5rem;
    }
    .credit h3 {
        padding-top: 2rem;
    }
}

@media only screen and (min-width: 1190px) {
    .worms h3,
    .books h3,
    .credit h3 {
        height: revert;
        padding: 0;
    }
}


/* skills */

#skills img {
    width: 100%;
    height: auto;
    padding: 10%;
    border: #2F7692 1px solid;
}



/* contact */



/* social */
